<!DOCTYPE html>
<html lang="en">
<head>
    <title>기온별 옷차림 추천</title>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Poor+Story&display=swap" rel="stylesheet">	
    
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico.png') }}">


     <style>
    div.input_location {
        width: 500px;
        margin: 0px auto 50px auto;
        padding: 30px;
        border-radius: 10px;  
    }
     </style>
</head>

<body>
<h1 style="text-align: center;">기온별 옷차림 추천</h1>


<div class="input_location">
<form>
    <fieldset>
    <div class="form-group">
        <label for="exampleInputEmail1">위치를 입력해주세요</label>
        <input type="text" class="form-control" id="input_location" aria-describedby="emailHelp">
    </div>
    </fieldset>
</form>
<button type="button" class="btn btn-info" onclick="onInfo()">날씨와 옷차림 알아보기</button>
</div>

<div class="show_weather">
    <h3 class="weather_info">오늘 날씨는요...</h3>
    <div class="weather_wrapper">
        <h4>현재 온도 </h4>
        <p>weather_info</p>
        <p>최고/최저  체감 온도</p>
        
    </div>
</div>

<div class="show_fashion">
    <h3 class="fashion_info">이런 옷 어때요?</h3>
  
    <div class="clothes_wrapper">

        <div class="card border-light" style="width: 18rem;">
            <a href ="https://www.naver.com" id="url" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/ko/thumb/d/d4/%ED%8E%AD%EC%88%98.jpg/300px-%ED%8E%AD%EC%88%98.jpg" class="card-img-top" alt="..." id="imgUrl" style="width: 18rem; height: 18rem; object-fit: cover;"></a>
            <div class="card-body">
            <h5 class="card-text" id="img" style="text-align: center;"><a href="" id="url" target="_blank" >제품 이름</a></h5>
            <p class="card-text" style="text-align: center;">쇼핑몰 이름</p>
            </div>
        </div>

    </div>
</div>



<!-- JS -->		
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>


$(document).ready(function(){
      $('.show_weather').html('');
      $('.fashion_info').hide();
      $('.clothes_wrapper').html('');
    })

function onInfo() {
    let location = $("#input_location").val()
    if(location=='') {
        alert("위치를 입력하세요");
        $("#input_location").focus();
        return;
      }
    $.ajax({
        type: "POST",
        url: "/info",
        data: {
            location_give : location
        },
        success: function (response) {
            if (response.result == "success") {
                console.log(response)
                console.log(response.weather.temp_now)
                console.log(response.clothes.length)  // 검색결과 나타난 옷의 갯수         
                weather = response.weather;
                show_weather_list(weather.location, weather.max_temp, weather.min_temp, weather.sensible_temp, weather.temp_now, weather.weather_info)

                clothes = response.clothes
            for (let i=0; i< clothes.length; i++) {
                show_clothes_list(clothes[i].imgName, clothes[i].imgUrl, clothes[i].mall, clothes[i].url)
            }
     }
}})}

function show_weather_list(location, max_temp, min_temp, sensible_temp, temp_now, weather_info) {
    $('.show_weather').append(`<h3 class="weather_info">오늘 ${location} 날씨는요...</h3>
    <div class="weather_wrapper">
        <h4>현재 온도 ${temp_now}℃</h4>
        <p>${weather_info}</p>
        <p>최고/최저 ${max_temp}/${min_temp}  체감 온도 ${sensible_temp}</p>
        
    </div>
    `);

}

function show_clothes_list(imgName, imgUrl, mall, url) {
    $('.fashion_info').show();


    $('.clothes_wrapper').append(`

    <div class="card border-light" style="width: 18rem;">
            <a href = ${url} id="url" target="_blank">
            <img src=${imgUrl} class="card-img-top" alt="..." id=${imgUrl} style="width: 18rem; height: 18rem; object-fit: cover;"></a>
            <div class="card-body">
            <h5 class="card-text" id="img" style="text-align: center;"><a href= ${url} id="url" target="_blank" > ${imgName} </a></h5>
            <p class="card-text" style="text-align: center;">${mall}</p>
            </div>
        </div>`)
}


</script>
</body>
</html>