<!DOCTYPE html>
<html lang="en">
  <head>
    <title>옷 저장소</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poor+Story&display=swap"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico.png') }}"
    />
    <style>
      .add-box {
        width: 300px;
        margin: 0px auto;
      }
      .add-button {
        text-align: center;
        margin: 0px auto 1em auto;
      }
      div.storage {
        margin: 10px 0 20px 0;
      }
      table,
      th,
      td {
        border: 1px solid;
        border-collapse: collapse;
      }
      table {
        max-width: 80%;
        table-layout: fixed;
        word-break: break-all;
      }

      td,
      th {
        padding: 10px;
      }
      .jb-th-1 {
        width: 70px;
      }
      .jb-th-2 {
        width: 140px;
      }
      .jb-th-3 {
        width: 140px;
      }
      .jb-th-4 {
        width: 120px;
      }
    </style>
  </head>
  <body>
    <h1>옷 저장소</h1>

    <hr />

    <div class="add-box">
      <h2 style="text-align: center;">옷 추가하기</h2>
      <!-- <div>max : <input type="number" id="input_max"/></div> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">max</label>
        </div>
        <select class="custom-select" id="input_max">
          <option selected value="0">--Select max--</option>
          <option value="5">5</option>
          <option value="9">9</option>
          <option value="12">12</option>
          <option value="17">17</option>
          <option value="20">20</option>
          <option value="23">23</option>
          <option value="28">28</option>
          <option value="50">50</option>
        </select>
      </div>

      <!-- <div>min : <input type="number" id="input_min"/></div> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">min</label>
        </div>
        <select class="custom-select" id="input_min">
          <option selected value="0">--Select min--</option>
          <option value="-30">-30</option>
          <option value="5">5</option>
          <option value="9">9</option>
          <option value="12">12</option>
          <option value="17">17</option>
          <option value="20">20</option>
          <option value="23">23</option>
          <option value="28">28</option>
        </select>
      </div>

      <!-- <div>type : <input type="string" id="input_type"/></div> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">type</label>
        </div>
        <select class="custom-select" id="input_type">
          <option selected value="0">--Select type--</option>
          <optgroup label="Outer">
            <option value="Cardigan">Cardigan</option>
            <option value="Jacket">Jacket</option>
            <option value="Coat">Coat</option>
            <option value="Jumper/Hoodies">Jumper/Hoodies</option>
            <option value="Padding">Padding</option>
          </optgroup>

          <optgroup label="Top">
            <option value="T-shirts">T-shirts</option>
            <option value="Knit">Knit</option>
            <option value="Shirts/Blouse">Shirts/Blouse</option>
            <option value="Hoodies">Hoodies</option>
            <option value="Sleeveless">Sleeveless</option>
          </optgroup>

          <optgroup label="Pants">
            <option value="Jeans">Jeans</option>
            <option value="Pants">Pants</option>
            <option value="Shorts">Shorts</option>
            <option value="Sweatpants">Sweatpants</option>
            <option value="Jumpsuits">Jumpsuits</option>
          </optgroup>

          <optgroup label="Skirts">
            <option value="Mini skirts">Mini skirts</option>
            <option value="Long skirts">Long skirts</option>
          </optgroup>

          <optgroup label="Dress">
            <option value="Mini dress">Mini dress</option>
            <option value="Long dress">Long dress</option>
          </optgroup>

          <optgroup label="etc">
            <option value="muffler/gloves">muffler/gloves</option>
            <option value="inner wear">inner wear</option>
          </optgroup>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">mall</span>
        </div>
        <input
          id="input_mall"
          type="string"
          class="form-control"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>

      <!-- <div>Mall : <input type="string" id="input_mall"/></div> -->

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">URL</span>
        </div>
        <input
          id="input_url"
          type="url"
          class="form-control"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <!-- <div>url : <input type="url" id="input_url"/></div> -->
      <div class="add-button"><button onclick="q1()">추가하기</button></div>
    </div>

    <br />

    <div class="storage">
      <table class="table">
        <thead>
          <tr style="text-align: center;">
            <th scope="col" class="jb-th-1">No.</th>
            <th scope="col" class="jb-th-1">max</th>
            <th scope="col" class="jb-th-1">min</th>
            <th scope="col" class="jb-th-2">type</th>
            <th scope="col" class="jb-th-3">mall</th>
            <th scope="col">URL</th>
            <th scope="col">ImgName</th>
            <th scope="col">ImgURL</th>
            <th scope="col" class="jb-th-4">Delete</th>
          </tr>
        </thead>
        <tbody id="clothes-box">
          <tr>
            <td>number</td>
            <td>max</td>
            <td>min</td>
            <td>type</td>
            <td>mall</td>
            <td>URL</td>
            <td>name</td>
            <td>ImgURL</td>
            <td><button onclick="onDelete()">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        $("#clothes-box").html("");
        listing();
      });

      function q1() {
        let max = $("#input_max").val();
        let min = $("#input_min").val();
        let type = $("#input_type").val();
        let mall = $("#input_mall").val();
        let url = $("#input_url").val();

        let mx = parseInt(max);
        let mn = parseInt(min);

        if (max == 0) {
          alert("Please select max");
          $("#input_max").focus();
          return;
        }
        if (min == 0) {
          alert("Please select min");
          $("#input_min").focus();
          return;
        }
        if (mx <= mn) {
          alert("Max temperature should be higer than min temperature");
          $("#input_max").focus();
          return;
        }
        if (type < 1) {
          alert("Please select type");
          $("#input_type").focus();
          return;
        }
        if (mall == "") {
          alert("Please input mall name");
          $("#input_mall").focus();
          return;
        }
        if (url == "") {
          alert("Please input URl");
          $("#input_url").focus();
          return;
        }

        $.ajax({
          type: "POST",
          url: "/clothes",
          data: {
            max: max,
            min: min,
            type: type,
            mall: mall,
            url: url,
          },
          success: function (response) {
            alert(response["msg"]);
            $("#input_max").val("");
            $("#input_min").val("");
            $("#input_type").val("");
            $("#input_mall").val("");
            $("#input_url").val("");
            window.location.reload();
          },
        });
      }

      function make_clothes_list(
        number,
        max,
        min,
        type,
        mall,
        url,
        imgName,
        imgUrl
      ) {
        $("#clothes-box").append(`<tr>
              <td style="text-align: center;">[${number}]</td>
              <td style="text-align: center;">${max}</td>
              <td style="text-align: center;">${min}</td>
              <td style="text-align: center;">${type}</td>              
              <td style="text-align: center;">${mall}</td>
              <td>${url}</td>
              <td>${imgName}</td>
              <td>${imgUrl}</td>
              <td style="text-align: center;"><button onclick="delete_clothes('${url}')">Delete</button></td>
          </tr>`);
      }

      function listing() {
        $.ajax({
          type: "GET",
          url: "/clothes",
          data: {},
          success: function (response) {
            if (response["result"] == "success") {
              let clothes = response["clothes"];
              for (let i = 0; i < clothes.length; i++) {
                make_clothes_list(
                  i + 1,
                  clothes[i]["max"],
                  clothes[i]["min"],
                  clothes[i]["type"],
                  clothes[i]["mall"],
                  clothes[i]["url"],
                  clothes[i]["imgName"],
                  clothes[i]["imgUrl"]
                );
              }
            } else {
              alert("Failed to load the clothes list");
            }
          },
        });
      }

      function delete_clothes(url) {
        $.ajax({
          type: "POST",
          url: "/admin/delete",
          data: {
            url_give: url,
          },
          success: function (response) {
            if (response["result"] == "success") {
              let msg = response["msg"];
              alert(msg);
              window.location.reload();
            }
          },
        });
      }

      // function onDelete(url) {
      //   let c = confirm("Do you really want to delete this clothes?");
      //   if (c== True) {
      //    delete_clothes(url)
      //  }
      //  else {

      //  }

      // }
    </script>
  </body>
</html>
